<main>
    <section class="team contenedor" id="equipo">
        <h3>Nuestro equipo</h3>
        <p class="after">Conoce a la gente asombrosa y creativa</p>
        <div class="card">
            <div class="content-card">
                <div class="people">
                    <img src="./assets/img/people1.jpg" alt="">
                </div>
                <div class="texto-team">
                    <h4>Karen</h4>
                    <p>Marketing Digital.</p>
                </div>
            </div>
            <div class="content-card">
                <div class="people">
                    <img src="./assets/img/people2.jpg" alt="">
                </div>
                <div class="texto-team">
                    <h4>Carolina</h4>
                    <p>Developer.</p>
                </div>
            </div>
            <div class="content-card">
                <div class="people">
                    <img src="./assets/img/people3.jpg" alt="">
                </div>
                <div class="texto-team">
                    <h4>Max</h4>
                    <p>Diseñador.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about" id="servicio">
        <div class="contenedor">
            <h3>Nuestros servicios</h3>
            <p class="after">Siempre mejorando para ti</p>
            <div class="servicios">
                <div class="caja-servicios">
                    <img src="./assets/img/heart.png" alt="">
                    <h4>Creativos y asombrosos</h4>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="caja-servicios">
                    <img src="./assets/img/responsive.png" alt="">
                    <h4>Creativos y asombrosos</h4>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="caja-servicios">
                    <img src="./assets/img/efectos.png" alt="">
                    <h4>Creativos y asombrosos</h4>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="work contenedor" id="trabajo">
        <h3>Nuestro trabajo</h3>
        <p class="after">Hacemos de algo simple algo extraordinario</p>
        <div class="botones-work">
            <ul>
                <li class="filter active" data-nombre='todos'>Todos</li>
                <li class="filter" data-nombre='diseño'>Diseño</li>
                <li class="filter" data-nombre='programacion'>Programacion</li>
                <li class="filter" data-nombre='marketing'>Marketing</li>
            </ul>
        </div>
        <div class="galeria-work">
            <div class="cont-work programacion">
                <div class="img-work">
                    <img src="./assets/img/programacion1.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Programacion</h4>
                </div>
            </div>
            <div class="cont-work programacion">
                <div class="img-work">
                    <img src="./assets/img/programacion2.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Programacion</h4>
                </div>
            </div>
            <div class="cont-work programacion">
                <div class="img-work">
                    <img src="./assets/img/programacion3.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Programacion</h4>
                </div>
            </div>
            <div class="cont-work diseño">
                <div class="img-work">
                    <img src="./assets/img/diseño1.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Diseño</h4>
                </div>
            </div>
            <div class="cont-work diseño">
                <div class="img-work">
                    <img src="./assets/img/diseño2.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Diseño</h4>
                </div>
            </div>
            <div class="cont-work diseño">
                <div class="img-work">
                    <img src="./assets/img/diseño3.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Diseño</h4>
                </div>
            </div>
            <div class="cont-work marketing">
                <div class="img-work">
                    <img src="./assets/img/marketing1.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Marketing</h4>
                </div>
            </div>
            <div class="cont-work marketing">
                <div class="img-work">
                    <img src="./assets/img/marketing2.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Marketing</h4>
                </div>
            </div>
            <div class="cont-work marketing">
                <div class="img-work">
                    <img src="./assets/img/marketing3.jpeg" alt="">
                </div>
                <div class="textos-work">
                    <h4>Marketing</h4>
                </div>
            </div>
        </div>
    </section>
</main>